// 0. Colors
$grey: #2d3142;
$lightGrey: lighten($grey, 12.5%);
$darkGrey: darken($grey, 12.5%);
$white: #f1f2eb;
$primary: #369;
$secondary: #499f68;

// 1. Fonts
$sansSerif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$monospace: "Monaco", "Consolas", monospace;

// 2. Dimensions
$maxContainer: 1920px;
$mediumBreakpoint: 820px;
$largeBreakpoint: 1000px;
$xLargeBreakpoint: 1600px;

// 3. Easings
$jaunty: cubic-bezier(0.510, -0.005, 0.210, 1.360);
