#filters{
	padding: 8px 16px 8px;
	margin: 0 0 16px;
	font-size: 0;
}

.country-count{
	margin: 0 0 16px;
}

select,
.sort-label{
	font-size: 24px;
}

.sort-label{
	color: @white;

	&:after,
	&:before{
		content: " ";
	}
}

.select-container{
	display: inline-block;
	cursor: pointer;
	padding: 0 16px 0 0;
	position: relative;
	background: @primary;
	margin: 0 0 8px;
	border-radius: 4px;

	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		right: 6px;
		margin: -12.9375px 0 0;
		width: 12px;
		height: 25.875px;
		background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAzNC41Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2Y1ZjVmNTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnNlbGVjdC1hcnJvdzwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjAgMTYgMTYgMTYgOCAwIDAgMTYiLz48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTYgMTguNSAwIDE4LjUgOCAzNC41IDE2IDE4LjUiLz48L3N2Zz4=) no-repeat;
	}
}

select{
	font-family: @sansSerif;
	padding: 4px 8px;
	color: @white;
	background: transparent;

	&::ms-expand{
		display: none;
	}
}

.filter-container{
	text-align: center;
}